<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chance.ssm.mapper.hospitalmapper.HospitalMapper" >
  <resultMap id="BaseResultMap" type="com.chance.ssm.po.Hospital" >
    <id column="hospital_id" property="hospitalId" jdbcType="CHAR" />
    <result column="hospital_name" property="hospitalName" jdbcType="VARCHAR" />
    <result column="hospital_province" property="hospitalProvince" jdbcType="VARCHAR" />
    <result column="hospital_city" property="hospitalCity" jdbcType="VARCHAR" />
    <result column="hospital_district" property="hospitalDistrict" jdbcType="VARCHAR" />
    <result column="hospital_address" property="hospitalAddress" jdbcType="VARCHAR" />
    <result column="hospital_phone" property="hospitalPhone" jdbcType="CHAR" />
    <result column="hospital_createter" property="hospitalCreateter" jdbcType="CHAR" />
    <result column="hospital_createtime" property="hospitalCreatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <resultMap type="com.chance.ssm.po.vo.HospitalVO" id="BaseResultMap2" extends="BaseResultMap">
  	<result column="major_id" property="majorId" jdbcType="CHAR"/>
  	<result column="major_name" property="majorName" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    hospital_id, hospital_name, hospital_province, hospital_city, hospital_district, 
    hospital_address, hospital_phone, hospital_createter, hospital_createtime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.chance.ssm.po.HospitalExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hospital
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from hospital
    where hospital_id = #{hospitalId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from hospital
    where hospital_id = #{hospitalId,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.chance.ssm.po.HospitalExample" >
    delete from hospital
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.chance.ssm.po.Hospital" >
    insert into hospital (hospital_id, hospital_name, hospital_province, 
      hospital_city, hospital_district, hospital_address, 
      hospital_phone, hospital_createter, hospital_createtime
      )
    values (#{hospitalId,jdbcType=CHAR}, #{hospitalName,jdbcType=VARCHAR}, #{hospitalProvince,jdbcType=VARCHAR}, 
      #{hospitalCity,jdbcType=VARCHAR}, #{hospitalDistrict,jdbcType=VARCHAR}, #{hospitalAddress,jdbcType=VARCHAR}, 
      #{hospitalPhone,jdbcType=CHAR}, #{hospitalCreateter,jdbcType=CHAR}, #{hospitalCreatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chance.ssm.po.Hospital" >
    insert into hospital
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="hospitalId != null" >
        hospital_id,
      </if>
      <if test="hospitalName != null" >
        hospital_name,
      </if>
      <if test="hospitalProvince != null" >
        hospital_province,
      </if>
      <if test="hospitalCity != null" >
        hospital_city,
      </if>
      <if test="hospitalDistrict != null" >
        hospital_district,
      </if>
      <if test="hospitalAddress != null" >
        hospital_address,
      </if>
      <if test="hospitalPhone != null" >
        hospital_phone,
      </if>
      <if test="hospitalCreateter != null" >
        hospital_createter,
      </if>
      <if test="hospitalCreatetime != null" >
        hospital_createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="hospitalId != null" >
        #{hospitalId,jdbcType=CHAR},
      </if>
      <if test="hospitalName != null" >
        #{hospitalName,jdbcType=VARCHAR},
      </if>
      <if test="hospitalProvince != null" >
        #{hospitalProvince,jdbcType=VARCHAR},
      </if>
      <if test="hospitalCity != null" >
        #{hospitalCity,jdbcType=VARCHAR},
      </if>
      <if test="hospitalDistrict != null" >
        #{hospitalDistrict,jdbcType=VARCHAR},
      </if>
      <if test="hospitalAddress != null" >
        #{hospitalAddress,jdbcType=VARCHAR},
      </if>
      <if test="hospitalPhone != null" >
        #{hospitalPhone,jdbcType=CHAR},
      </if>
      <if test="hospitalCreateter != null" >
        #{hospitalCreateter,jdbcType=CHAR},
      </if>
      <if test="hospitalCreatetime != null" >
        #{hospitalCreatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.chance.ssm.po.HospitalExample" resultType="java.lang.Integer" >
    select count(*) from hospital
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hospital
    <set >
      <if test="record.hospitalId != null" >
        hospital_id = #{record.hospitalId,jdbcType=CHAR},
      </if>
      <if test="record.hospitalName != null" >
        hospital_name = #{record.hospitalName,jdbcType=VARCHAR},
      </if>
      <if test="record.hospitalProvince != null" >
        hospital_province = #{record.hospitalProvince,jdbcType=VARCHAR},
      </if>
      <if test="record.hospitalCity != null" >
        hospital_city = #{record.hospitalCity,jdbcType=VARCHAR},
      </if>
      <if test="record.hospitalDistrict != null" >
        hospital_district = #{record.hospitalDistrict,jdbcType=VARCHAR},
      </if>
      <if test="record.hospitalAddress != null" >
        hospital_address = #{record.hospitalAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.hospitalPhone != null" >
        hospital_phone = #{record.hospitalPhone,jdbcType=CHAR},
      </if>
      <if test="record.hospitalCreateter != null" >
        hospital_createter = #{record.hospitalCreateter,jdbcType=CHAR},
      </if>
      <if test="record.hospitalCreatetime != null" >
        hospital_createtime = #{record.hospitalCreatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hospital
    set hospital_id = #{record.hospitalId,jdbcType=CHAR},
      hospital_name = #{record.hospitalName,jdbcType=VARCHAR},
      hospital_province = #{record.hospitalProvince,jdbcType=VARCHAR},
      hospital_city = #{record.hospitalCity,jdbcType=VARCHAR},
      hospital_district = #{record.hospitalDistrict,jdbcType=VARCHAR},
      hospital_address = #{record.hospitalAddress,jdbcType=VARCHAR},
      hospital_phone = #{record.hospitalPhone,jdbcType=CHAR},
      hospital_createter = #{record.hospitalCreateter,jdbcType=CHAR},
      hospital_createtime = #{record.hospitalCreatetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.chance.ssm.po.Hospital" >
    update hospital
    <set >
      <if test="hospitalName != null" >
        hospital_name = #{hospitalName,jdbcType=VARCHAR},
      </if>
      <if test="hospitalProvince != null" >
        hospital_province = #{hospitalProvince,jdbcType=VARCHAR},
      </if>
      <if test="hospitalCity != null" >
        hospital_city = #{hospitalCity,jdbcType=VARCHAR},
      </if>
      <if test="hospitalDistrict != null" >
        hospital_district = #{hospitalDistrict,jdbcType=VARCHAR},
      </if>
      <if test="hospitalAddress != null" >
        hospital_address = #{hospitalAddress,jdbcType=VARCHAR},
      </if>
      <if test="hospitalPhone != null" >
        hospital_phone = #{hospitalPhone,jdbcType=CHAR},
      </if>
      <if test="hospitalCreateter != null" >
        hospital_createter = #{hospitalCreateter,jdbcType=CHAR},
      </if>
      <if test="hospitalCreatetime != null" >
        hospital_createtime = #{hospitalCreatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where hospital_id = #{hospitalId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chance.ssm.po.Hospital" >
    update hospital
    set hospital_name = #{hospitalName,jdbcType=VARCHAR},
      hospital_province = #{hospitalProvince,jdbcType=VARCHAR},
      hospital_city = #{hospitalCity,jdbcType=VARCHAR},
      hospital_district = #{hospitalDistrict,jdbcType=VARCHAR},
      hospital_address = #{hospitalAddress,jdbcType=VARCHAR},
      hospital_phone = #{hospitalPhone,jdbcType=CHAR},
      hospital_createter = #{hospitalCreateter,jdbcType=CHAR},
      hospital_createtime = #{hospitalCreatetime,jdbcType=TIMESTAMP}
    where hospital_id = #{hospitalId,jdbcType=CHAR}
  </update>
  
  <!-- 和专业表进行关联，查询所有医院和医院下面的专业 -->
   <select id="selectByExampleAndMajor" resultMap="BaseResultMap2" parameterType="com.chance.ssm.po.HospitalExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    , major_id,major_name from hospital  LEFT JOIN major ON hospital_id=major_details
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <!-- 通过专业id查询医院id和名称 -->
  <select id="selectHbtByMajorId" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT hospital_id,hospital_name FROM major,hospital WHERE major_details = hospital_id
 	AND major_id = #{0}
  </select>
  
  
  <!-- 根据ID查询医院信息，并和专业表进行关联 -->
  <select id="selectByPrimaryKeyAndMajor" resultMap="BaseResultMap2" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from hospital
    where hospital_id = #{hospitalId,jdbcType=CHAR}
  </select>
</mapper>